.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: #555;
}

.change-color-button {
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}
